version: '3.6'

services:
  front:
    build: 
      context: ./front
      dockerfile: Dockerfile
    container_name: api_testing_web_front
    ports:
      - "5174:5174"
    volumes:
      - ./front:/app
      - /app/node_modules

    depends_on:
      - backend  

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    container_name: api_testing_web_backend
    ports:
      - "4500:4500"
    volumes:
      - ./backend:/app
      - /app/node_modules
    # env_file:
    #   - .env 

    depends_on:
      - mongo  

  mongo:
    image: mongo
    command: mongod --quiet --logpath /dev/null 
    container_name: mern_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:               