@import 'react-toastify/dist/ReactToastify.css';
@import 'react-resizable/css/styles.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@theme {
  --font-display: 'Oswald', 'sans-serif';
}
